div.visualization {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

div.visualization > svg {
    width: 100%;
    height: 100%;
}

.d3-shadow {
    stroke: #000;
    stroke-width: 1.5px;
    stroke-opacity: .8;
}

.d3-text, .d3-path-text {
    stroke: none;
    font-family: sans-serif;
    text-shadow: none;
    pointer-events: none;
}

.d3-text {
    font-size: 10px;
    z-index: 10;
}

.d3-path-text {
    font-size: 8px;
    text-align: center;
}

.selected {
    stroke: red;
    stroke-width: 1.5px;
}

.d3-link {
    stroke: #222;
}

.d3-marker {
    stroke: #222;
    fill: #222;
}

.d3-node {
    color: #fa8072;
}