@font-face {
    font-family: "OfficinaSerifStd-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/officinaserifstd-bold.eot?#iefix") format("embedded-opentype"), url("fonts/officinaserifstd-bold.woff") format("woff"), url("fonts/officinaserifstd-bold.ttf") format("truetype"), url("fonts/officinaserifstd-bold.svg#officinaserifstd-bold") format("svg");
}

/* Chrome@Windows fix for https://code.google.com/p/chromium/issues/detail?id=137692 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'OfficinaSerifStd-Bold';
        src: url("fonts/officinaserifstd-bold.svg#officinaserifstd-bold") format('svg');
    }
}

.graph {
    border-style: solid;
    border-width: 1px;
}

html, html body {
    background: none;
}

.navbar .brand {
    padding: 2px 14px 2px 8px;
    font-family: 'OfficinaSerifStd-Bold', 'Baskerville', 'Cambria', 'Constantia', 'Palatino Linotype', 'Palatino', 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OfficinaSerifStd-Bold', 'Baskerville', 'Cambria', 'Constantia', 'Palatino Linotype', 'Palatino', 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

h3 {
    line-height: 30px;
}

h2 {
    line-height: 32px;
}

.subheader, .admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .ulist > .title, .olist > .title, .dlist > .title, .qlist > .title, .tableblock > caption {
    line-height: 1.4;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .ulist > .title, .olist > .title, .dlist > .title, .qlist > .title {
    text-align: left;
    font-weight: bold;
}

#content > iframe {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#content {
    /*max-width: 60em;*/
    /*margin: 0 auto;*/
}

footer {
    max-width: 60em;
    margin: 2em auto 0.5em auto;
    padding: 0.25em;
    border-top: 1px solid #cccccc;
    text-align: right;
}

p {
    margin: 15px 0;
}

li>p {
    margin: 0;
}

pre, pre code {
    font-size: 12px;
    background-color: #fcfcfc;
    border-color: #dddddd;
}

pre.highlight {
    position: relative;
    padding-bottom: 40px;
    padding-top: 0;
}

pre.highlight h5 {
    margin: 6px 0 3px 0;
}

span.query-toggle, span.result-toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 9.5px;
}

span.query-toggle {
    top: 0;
    padding-top: 6px;
}

span.result-toggle {
    bottom: 0;
    padding-bottom: 6px;
}

a.run-query {
    position: absolute;
    bottom: 6px;
    left: 9.5px;
}

a.edit-query {
    position: absolute;
    bottom: 6px;
    left: 45px;
}

.query-info {
    position: absolute;
    bottom: 6px;
    right: 30px;
}

a.resize-toggle {
    position: absolute;
    right: 0;
    bottom: -39px;
}
a.show-console-toggle {
    right: 50;
    bottom: -39px;
}

span.resize-vertical-handle {
    position: absolute;
    bottom: -11px;
    display: block;
    height: 9px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: s-resize;
}

span.resize-vertical-handle span {
    display: block;
    margin: 4px auto;
    height: 1px;
    width: 30px;
    background: #888888;
}

#resize-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#console-wrapper, p.console {
    height: 23em;
}

#console-wrapper {
    position: relative;
}

#console {
    height: 100%;
    width: 100%;
}

#console-wrapper {
    left: 0;
    top: 0;
    width: 99.7%;
    z-index: 1000;
}

#console-wrapper.fixed-console {
    position: fixed;
}

#console-label {
    display: none;
}

p.console.fixed-console > #console-label {
    display: inline;
}

p.console.fixed-console {
    height: 24px;
    margin-bottom: 24px;
}

#content.internet-explorer #console-wrapper.fixed-console {
    width: 98%;
}

p.console {
    margin-bottom: 48px;
    background: #eeeeee url('../images/loading.gif') no-repeat center center;
}

p.console>span.loading {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4em 0 0 0;
    text-align: center;
}

#gist-id {
    width: 20em;
}

#disqus_thread {
    margin-top: 2em;
}

#sidebar_left {
}

#sidebar_right {
}
